@import "variables";

body {
    font-family:'Raleway', sans-serif !important;
    font-weight: 400,500;
    background-color: $bg-home !important;
    color: $font-color;
    header {
        background-color: $bg-header;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }        
}

.carrusel1 {
    /*   grid-area: carrusel; */
      align-items: center;
      justify-items: center;
      display:block;
      margin:auto;
      
    }