* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    body {
        nav-black {
        .dark-celu .container {
            background-color: transparent;
              }  
        @media only screen and (max-width: 991px) {
    
            .dark-celu {
                background-color: black;
            }
              
              }        
        }
    }
}