body {
  font-family:'Raleway', sans-serif !important;
  font-weight: 400,500;
  background-color: black !important;
  color: #fff !important;
}


.footer-link {
  color: white;
  text-decoration: none;
}

footer {

  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: right;
}